{% load static %}
<!DOCTYPE html>
<html lang="en">

<link href="{% static 'port/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portfolio</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'port/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'port/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'port/css/grayscale.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Portfolio</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
          <!--
          <a class="nav-link js-scroll-trigger" href="port/login">Login</a>
          </li>
          <a class="nav-link js-scroll-trigger" href="port/signup">Sign Up</a>
          </li>
          -->

        </ul>
      </div>
    </div>
  </nav>




  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">I AM <br> ASHISH KUMAR</h1>
         <p class="intro-subtitle"><span class="text-slider-items">PYTHON FULL STACK WEB DEVELOPER<br>&nbsp;&&<br>PYTHON ANALYTICS DEVELOPER</span><strong class="text-slider"></strong></p>

        <a href="#about" class="btn btn-primary js-scroll-trigger">View my work</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <p class="text-white-50"> EDUCATION:<br> <br>Bachelor of Technology (B.Tech), Computer Science & Engineering
            (2019 - 2021) at Rajkiya Engineering college Sonbhadra.<br> <br><br>INTERNSHIPS : <br><br>Deep Learning at EISYSTEM (Varanasi) ( Jun 2019 - Jul 2019)<br><a href="https://drive.google.com/open?id=19_ecuvtC9nZ3Ns6sUZH7YPLKxQIPg3Ry">Certificate Verification</a> <br><br></br>SKILLS:<br></br>C++ , JAVA , PYTHON , DJANGO , DJANGO REST FRAMEWORK , DEEP LEARNING , MACHINE LEARNING , ARTIFICIAL INTELLIGENCE , DATA ANALYTICS , HTML , CSS , BOOTSTRAP , JAVASCRIPT , AWS , GITHUB , Linux Programming , DATA STRUCTURE AND ALGORITHMS.

        </div>
      </div>

    </div>
  </section>

    <!-- Projects Section -->
   <section id="projects" class="projects-section bg-light">
    <div class="container">

    </div>


         <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'port/img/c++3.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">C++</h4>
                <p class="mb-0 text-white-50">Report card management report card management system using C++ libraries ,file handling concept.<br><br>Project is in progess.Details will be updated soon.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'port/img/python1.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">PYTHON</h4>
                <p class="mb-0 text-white-50">Project is in progess.Details will be updated soon.<br><br><a href="https://drive.google.com/open?id=1UFyXUw2xDnkNQK55C6xuIUAGyd0Ez5ih">Certificate of completion of course</a></p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

          <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'port/img/django1.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">DJANGO</h4>
                <p class="mb-0 text-white-50">Ecommerce Website & Portfolio & eMAN Website  using Django framework, Django Rest framework, Bootstrap , CSS , JavaScript.</p><br><a href="https://shop2020.herokuapp.com">Ecommerce webiste</a>
                <br><br><a href="https://gizga.herokuapp.com">Portfolio webiste</a> <br><br><a href="https://eman2021.herokuapp.com">eMAN webiste</a>  <br><br><a href="https://elibo.herokuapp.com">Digital Library webiste</a>

                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

         <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'port/img/java.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">JAVA</h4>
                <p class="mb-0 text-white-50"><br><br>Project is in progess.Details will be updated soon.<br><br><a href="https://drive.google.com/open?id=1UaS94PTJLQxq23vratVTv1N3fObcVwNY">Certificate of completion of course from NPTEL<br><br></a><a href="https://drive.google.com/open?id=1lDMPlAWsEMAfUxtDlK67n5INcZQCD44P">Certificate of completion of course from Udemy<br><br></a></p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

           <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'port/img/machine_learning.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">MACHINE LEARNING</h4>
                <p class="mb-0 text-white-50">OBJECT DETECTION AND TRACKING IN IMAGES <br><br><a href="https://drive.google.com/open?id=0B8lNOnUjL1h1bzNqWXFfR2pwOF8tMnVkZm9yUU9jOWFkcDZj">Certificate of Completion</a></p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

  </section>


  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Send Message Us</h2>

          <form action="" method="POST" role="form" class="contactForm">{% csrf_token %}
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="name" name='name' placeholder="Your Name">
            <br><input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="email" name='email' placeholder="Enter email address...">
            <br><input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="subject" name='subject' placeholder="Subject"">
            <br><textarea class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="message" rows="5"  data-msg="Please write something for us" placeholder="Message"></textarea>
            <br><button type="submit" class="btn btn-primary mx-auto">Send Message</button>
          </form>
        </div>
      </div>
    </div>




  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">24 JARWAL BAHRAICH POST HARCHANDA DISTRICT BAHRAICH PINCODE 271904</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">ashish160kumar@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Contact</h4>
              <hr class="my-4">
              <div class="small text-black-50">+91 7985458232</div>
              <div class="small text-black-50">+91 8874497850</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'port/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'port/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'port/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'port/js/grayscale.min.js' %}"></script>

</body>

</html>




